<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="app/css/default.css" rel="stylesheet">
    <link href="app/css/style.css" rel="stylesheet">

    <title>Capitulos</title>
  </head>
  <body>
   <!-- Bootstrap grid options
   	O bootstrap divide a página em 12 colunas
   .col-xs-   	telas smartphone (xs - extra small)
   .col-sm-	telas tablets    (sm - small)
   .col-md-	telas notebook   (md - medium)
   .col-lg-	telas desktop    (lg - large)
    -->
	</div>
	
	<h1><center>{{ @livro.nome }}<center></h1>
	<hr>
	<div class="row">
		<repeat group=" {{ @livro.capitulos }}" value="{{ @cap }}">
			<div class="col-lg-2" ><center><a href="{{ '/biblia/capitulo/'.@livro.id.'/'.@cap.chapter }}">{{ @cap.chapter }}</a></center></div>
		</repeat>
	</div>
   	<hr> 		
	
	
  </body>
</html>
